<script>
    import { area } from "d3-shape";
    import { scaleLinear, scaleTime } from "d3-scale";
    import { extent, max } from "d3-array";

    export let data = [];

    let day = data.map(d => new Date(2014, 11, d.day, d.hour));
    let gas = data.map(d => d.total_gas);
 
    let electricity = data.map(d => d.total_electrity);
    
    const upperRange = 10;
    const lowerRange = 10;


    const xScale = scaleTime().range([0, 100]).domain(extent(day))
    const yScaleElec = scaleLinear().range([50,0]).domain([0, max(electricity)])
    const yScaleGas = scaleLinear().range([50, 100]).domain([0, max(gas)])
    const areaElec = area().x(d => xScale(new Date(2014, 11, d.day, d.hour))).y0(yScaleElec(0)).y1(d => yScaleElec(d.total_electrity))  
    const areaGas = area().x(d => xScale(new Date(2014, 11, d.day, d.hour))).y0(yScaleGas(0)).y1(d => yScaleGas(d.total_gas))

</script>


<svg>
        <path d={areaElec(data)} fill="pink"/>
        <path d={areaGas(data)} fill="orange"/>
</svg>
