<script>
    // Imports
    import { area } from "d3-shape";
    import { scaleLinear, scaleTime } from "d3-scale";
    import { extent, max } from "d3-array";


    export let dataset = [];
    export let scaling = 1;
    export let type = null;
  
    function selectData(type, datafile) {
        return datafile.filter(d => d.buildingtype == type)
    }
    let data = selectData(type, dataset);
    $: data = selectData(type, dataset);

    let dates = data.map(d => new Date(2014, 11, d.day, d.hour));

    const scalex= scaleTime().range([0, 450]).domain(extent(dataset.map(d => new Date(2014, 11, d.day, d.hour))));
    const scaleYeach = scaleLinear().range([0.5, 15]).domain(extent(dataset.map(d => d.total_heating_energy)));
    const scaleYall = scaleLinear().range([0.5, 12]).domain(extent(data.map(d => d.total_heating_energy)));
    const violinChartWithin = area().x(d=>scalex(new Date(2014, 11, d.day, d.hour))).y0(d=>-scaleYeach(d.total_heating_energy)).y1(d=>scaleYeach(d.total_heating_energy))
    const violinChartBetween = area().x(d=>scalex(new Date(2014, 11, d.day, d.hour))).y0(d=>-scaleYall(d.total_heating_energy)).y1(d=>scaleYall(d.total_heating_energy))

</script>

<g height="300">
    <g transform="translate(+310,0)" dominant-baseline="central"
    style="font: 15px; font-family:Brush Script MT">
        <text>{type}</text>
    </g>
    <g transform="translate(-150,0)">
        {#if scaling == 1}
            <path d={violinChartWithin(data)} fill="black"></path>
        {:else}
            <path d={violinChartBetween(data)} fill="black"></path>
        {/if}
    </g>
</g>

