<script>
    // Imports
    import { arc, radialArea } from "d3-shape";
    import { scaleLinear, scaleRadial } from "d3-scale";
    import { extent } from "d3-array";

    export let data = [];
    export let city;

    const width = 600;
    const height = 250;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;

    let maxRadius = 50;
    let whitespace = 5;
    let index = 1;

    data = data.filter(d => d.city == city);

    const xScale = scaleLinear().domain(extent(data, d => d.day_of_year)).range([0, 2 * Math.PI])

    const yScale_all = scaleLinear().range([0, maxRadius]).domain(extent( data, (d) => d.cooling).concat(data, (d) => d.heating))
    
    const areaCooling = radialArea().angle(d => xScale(d.day_of_year)).innerRadius(0).outerRadius(d => yScale_all(d.cooling))

    const areaHeating = radialArea().angle(d => xScale(d.day_of_year)).innerRadius(0).outerRadius(d => yScale_all(d.heating))

</script>
<svg viewBox="0 0 {width/2} {height}" style="max-width: {width/2}px">
    <g transform="translate({margin.left}, {margin.top})">
        <g transform="translate({width/6},125)">
            <circle cx={index*0} cy={0} r={maxRadius}></circle>
            <line class="line" x1 = {0} x2 = {0} y1 = {maxRadius} y2 = {-maxRadius}></line>
            <line class="line" x1 = {- maxRadius} x2 = { maxRadius} y1 = {0} y2 = {0}></line>
            <text class="writings" x = {maxRadius+2} y = 7>3</text> 
			<text class="writings" x = {-maxRadius-12} y = 7>9</text>
			<text class="writings" x = -7 y = {-maxRadius-7} >0</text> 
			<text class="writings" x = -5 y = {maxRadius+15} >6</text> 

            <path class='cooling' d={areaCooling(data)}  fill="blue" />
            <path  class='heating' d={areaHeating(data)} fill="red" />
        </g>
    </g>
    <g transform="translate(0,25)">
        <text class="title" x="40%" text-anchor="middle">{city} <br/></text>
    </g>

    <g transform = "translate(70,{height-20})">
        <circle class = "Heating" cx = 10 cy = 10 r = 5> </circle>
        <text class="writings" x = 25 y=17 > Heating </text>
    </g>

    <g transform = "translate(70,{210})">
        <circle class = "Cooling" cx = 10 cy = 10 r = 5> </circle>
        <text class="writings" x = 25 y=17 > Cooling </text>
    </g>

    
</svg>


<style>
    .writings{
        font: 15px; 
        font-family:Brush Script MT;
    }
    .title{
        font: 15px; 
        font-family:Brush Script MT;
    }
  
    circle{
        fill-opacity: 0.1;
        fill: white;
        stroke-opacity: 1.0;
        stroke: black;
    }
    .cooling{
        fill-opacity:0.5;
    }

    .heating{
        fill-opacity:0.5;
    }

    .Cooling{
        fill: blue;
        fill-opacity:0.5;
    }

    .Heating{
        fill: red;
        fill-opacity: 0.5;
    }
    .line{
        stroke: black;
        stroke-opacity: 1;}
</style>
