<script>
  // Imports
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Radial from "./_design_2_radial.svelte";

  
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;


  const cities = [{city: "Chicago",}, {city: "Baltimore",}, {city: "Los Angeles",}];

  let data = null;
  onMount(async () => {
    data = await json("/data/daily_heating_cooling.json");
  });

</script>


{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  {#each cities as city }
    <Radial data={data} {...city}/>
  {/each}
{/if}



