<script>
  // Imports
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import { text } from "svelte/internal";

  import Leaf from "./_design_3_leaf.svelte";

  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/hourly_electricity_vs_gas_december.json");
  });
  let weekDays=[1, 2, 3, 4, 5];

</script>


{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <svg {width} {height}>
   
    <g transform="translate({margin.left}, {margin.top})">
      {#each weekDays as week}
        {#if !(week%2==0)}
          <g transform="translate({(innerWidth/2)-margin.left},{80*(week)}) ">
           <Leaf data={data.filter(d => d.week == 53-week)}/>
          </g>
        {:else}
          <g transform="translate({(innerWidth/2)-margin.left},{80*(week)}) scale(-1,1) ">
           <Leaf data={data.filter(d => d.week == 53-week)}/>
          </g>
        {/if}
      {/each}
        <circle class = "Electricity" cx = 10 cy = 10 r = 5> </circle>
    
        <text class="writings" x = 25 y=17 > Electricity </text>
     
        <circle class = "Gas" cx = 10 cy = 30 r = 5> </circle>
    
        <text class="writings" x = 25 y=37 > Gas </text>

        <text class="writings" x = 70 y=390 > Week2 </text>
        <text class="writings" x = 70 y=190 > Week4 </text>

        <text class="writings" x = 350 y=420 > Week1 </text>
        <text class="writings" x = 350 y=290 > Week3 </text>
        <text class="writings" x = 350 y=110 > Week5 </text>

        <text class="Title" x = 180 y=550 > Baltimore - Dec 2014 </text>
        
    </g>
    <line class="branch" x1=240 x2 = 240 y1 = {550} y2={80}  ></line>
  </svg>
{/if}

<style>
    .Title{
        size: 50px;
        font: 50px; 
        font-family:Brush Script MT;
    }
    .branch{
      stroke:black;
      stroke-width:1;
    }
    .writings{
        font: 15px; 
        font-family:Brush Script MT;
    }

    .Gas{
        fill: orange;
    }

    .Electricity{
        fill: pink;
    }
</style> 

