<script>
  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  import { max } from "d3-array";
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import Plot from "./_design_1_plot.svelte";

  let datapoints = [];
  let buildingTypes = [];
  let default_city = "Baltimore";
  let default_type = 0;
  let selectedCity = null;
  //let selectedDataType = null;
  let cities = ["Baltimore", "Chicago", "Los Angeles"];

  onMount(async () => {
        let response = await json("/data/hourly_heating_december.json")
        .then(response => datapoints = response)
        .then(data =>
        buildingTypes = [...new Set(data.map(d =>  d.buildingtype))])
  });

  function selectCity(dataset, city) {
    if (!(dataset == null)) {
      return dataset.filter(d => d.city == city);
    }
  }
  $: selectedCity = selectCity(datapoints, default_city); 

  function selectDataType(dataset, type) {
    return dataset.filter(d => d.buildingtype == type)
  }
  $: selectedDataType = selectDataType(datapoints, selectDataType);
  
</script>

<div transform="translate(0,150)">

    <svg {width} {height}>
     
      <g transform="translate({margin.left}, {margin.top})">
        <!--  -->
        {#each buildingTypes as type, i}
              <g transform="translate(125,{10+(i*15)})">
                  <Plot dataset={selectedCity} scaling={default_type} type={type}/>
              </g>
            {/each} 

      </g>
      <text x=10 y=17 class="small"> 1 dec. </text>
      <text x=357 y=17 class="small"> 31 dec. </text>
    
    </svg>

    <div transform="translate(0,50)">
      <div class="row">    
        <div class="col">
          <h6>Location:</h6>
            {#each cities as c}
                <label>
                    <input type=radio name="location" bind:group={default_city} value={c}>
                    {c}
                </label>
                <br/>
            {/each}
        </div>
        <div class="col">
          <h6>Scaling:</h6>
          <label>
              <input type=radio name="scaling" bind:group={default_type} value={1}>
              Each Building
          </label>
          <br/>
          <label>
              <input type=radio name="scaling" bind:group={default_type} value={0}>
              All Building 
          </label>
        </div>
      </div>
    </div>
    
</div>



<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  .row {
    vertical-align:bottom;
  }
  .small{
    font: 10px; 
    font-family:Brush Script MT;
  }
</style>

