<script>
  let current = "";
</script>

<style>
  button.touch{
    background-color: greenyellow;
  }
</style>

<!-- We will cover buttons in week 7! -->
<button class="btn btn-secondary {current=="messi" ? 'touch' : ''}"  on:click={() => (current = "messi")}>
  Messi
</button>

<button class="btn btn-secondary {current == "ronaldo" ? 'touch' : ''}"  on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class="btn btn-secondary {current=="neymar" ? 'touch' : ''}"  on:click={() => (current = "neymar")}>
  Neymar
</button>



