<script>
import { base } from "$app/paths";


  const baseurl = "https://www.youtube.com/watch?v=";
  const videos = [
    { id: "S4bn6gg-BmE", name: "Messi" },
    { id: "MD6WXsjdcsY", name: "Ronaldo" },
    { id: "yTGr45ZQRdA", name: "Neymar" }
  ];
</script>

<div>
  <h5>Famous soccer players:</h5>
  {#each videos as player}
    <ul> {player.name} (<a href={baseurl + player.id }>video</a>) </ul>
  {/each}
</div>

<style>
  a:link {
  color: gray;
  background-color: transparent;
  text-decoration: underline;
}
</style>

