<p>I <tutku>really</tutku> like data visualisation!</p>
<style>
    p {
      color: steelblue;
      font-family:'Courier New';
      font-size: 11px;
    }
    tutku{
        color: red;
    }
  </style>