<script>
    const my_fav = ['ballet', 'iceskating', 'yoga'];
    const student = {"name":"Tutku","fav_things": my_fav };
</script>

<p> My name is {student.name} and these are some of my favourite things: {student.fav_things} .</p>

