<script>
function circumference(radius) {
  // x and y are local to the add function
  const cons = 1;
  return  2 * radius * Math.PI;
}
const radiusa = 5.356 ;
</script>
<p> The circumference of a circle with radius {radiusa} m is {circumference(radiusa).toFixed(2)} m .</p>
