<script>

  export let year = 0;
  const continents = ["europe", "asia", "americas", "africa"];
  export let continent = "all";
  var reset = false;
  let button_name = "Start";


  function increaseYear() {
    if (year != 214) {
      year = year + 1;
    } else {
      year = 0;
    }
  }

  function start() {
      if (reset == true) {
clearInterval(reset);reset = false;button_name = "Start";  } else {reset = setInterval(increaseYear, 50);
button_name = "Stop";}    
  }
  function stop() {clearInterval(reset);
    year = 0;
    reset = false;
  }

</script>

<div class="row">
  <div class="col-4">
    <button type="button" class="btn btn-primary" on:click = "{start}" >{button_name}</button>
    <button type="button" class="btn btn-primary" on:click = "{stop}" >Reset</button>
  </div>
  <div class="col-5">
    Year: {year + 1800}
    <input 
      min="0" 
      max="214"
      type="range" 
      class="form-range"
      bind:value={year}>
  </div>
  <div class="col-3">
    <select class="form-select" bind:value={continent}>
      <option selected value="all">all</option>
      <option value="africa">africa</option>
      <option value="americas">americas</option>
      <option value="asia">asia</option>
      <option value="europe">europe</option>
    </select>
  </div>
  
</div>
