<script>
  let clicked = 0;
  let reset = false;

  function increment() {
        reset = false;
        clicked = clicked + 1;
	}

    function res() {
        clicked = 0;
        reset = true;
	}
</script>

<style>
    button {
     border: none;
     color: white;
     padding: 5px 15px;
     text-align: bottom;
     text-decoration: none;
     font-size: 16px;
     margin: 0px 0px;
     cursor: pointer;
     line-height: 25px; }
   .btn-danger{
    text-shadow: none;
    text-emphasis-color: white;}
   </style>

<div>
  <button class="btn btn-primary" on:click={increment}>
    {#if clicked == 1}
        Clicked {clicked} time
    {:else }
        Clicked {clicked} times
    {/if}
  </button><button class="btn btn-danger" on:click={res}> Reset </button>
 
</div>
