<script>


  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length;
  
  // Color
  let color = "darkred";
 
  let index2 = index -1;
  

  function myfunction () {
   if(index2 == -1){
    clearInterval(myInterval);
   }
   index2 = index2 -1;
  }

  $: if(index2 == -2){
    color = "darkgreen";
  } else {
    color = color;
  }

  const myInterval = setInterval(myfunction, 1000);
  
</script>

<!-- svelte-ignore non-top-level-reactive-declaration -->
<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <!--  -->
   {#each points as point, i}
     <circle  
      cx= {point}
      cy={height/3}
      r=12
      fill={color}
      class:red="{i>=index2}" 
      class:green="{i<index2}"/>
    {/each}
</svg>

<style> 
  .red{
    opacity:1;
  }
  .green{
    opacity:0.3;
    }
</style>
