<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 25, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];

  import {axisBottom} from "d3-axis";
  import {select} from "d3-selection";
  import {scaleLog} from "d3-scale";
  import {scaleLinear} from "d3-scale";

  const scale = scaleLog()
    .domain([1, 10])
    .range([0, 800]);

    var svg2 = select()
              .append("svg")
              .attr("width", width)
              .attr("height", height);
  
    var scale2 = scaleLinear()  
    .domain([2, 9])
    .range([0, width - 100]);

    var x_axis = axisBottom(scale);

    svg2.append("g").call(x_axis);

    function axis(g){
      xAxis(select(g)) 
    }
    
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})" >
    {#each values as value}
      <circle cx= {scale(value)}
              cy={40 + value}
              r=10 />
   {/each}
  </g>
  <g> x_axis  use:axis transform="translate({margin.left},{height-"20"})" </g>

</svg>

<style>
circle{
  fill: rgb(37, 115, 179);
}
</style>
