<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  import {axisBottom} from "d3-axis";
  import {select} from "d3-selection";
  import {scaleLog} from "d3-scale";
  import {scaleLinear} from "d3-scale";
  import {scaleOrdinal} from "d3-scale";
  import {schemeDark2} from "d3-scale-chromatic";
  

  const scale = scaleLinear()
    .domain([0, 10])
    .range([0, innerWidth]);

  const scale2 = scaleLinear()
    .domain([0, 3,5])
    .range([innerHeight, 0]);

    var scale3 = scaleOrdinal()
      .domain(["cat1","cat2" ,"cat3"])
      .range(schemeDark2);

    var color;

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    <!--  -->
    {#each values as value}
      <circle cx= {scale(value["x"])}
              cy={scale2(value["y"])}
              r=5 />
      {color = scale3(value["category"])}
   {/each}

  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
  circle{
  fill: color ;
}
</style>
